*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
}
header{
    position: sticky;
    top: 5px;
    z-index: 5;
}
nav{
    background-color: red;
    width: 100%;
    height: 70px;
}
.volumeSection{
    background-color: blue;
    float: right;
    width: 70%;
    height: 70px;
    display: flex;
    align-items: center;


    .volumeButton{
        background-color: azure;
        width: 15%;
        height: 65%;
        text-align: center;
        border-radius: 100px;

        i{
            padding-top: 25%;
        }
    }
}
main{
    height: 1000px;
    background-color: crimson;
}
.heroimg{
    background-color: aqua;
    height: 50%;
    .herovideo{
        width: 100%;
        position: relative;
    }
}
.menuContainer{
    background-color: blue;
    z-index: 2;
    translate: 15px 0px;
    width: 70%;
    height: fit-content;
    float: right;
    display: flex;
    flex-direction: column;

    .btn{
        align-self: flex-start;
        width: 100%;
        height: 50px;
        margin-top: 9%;
        border: 1px solid black;
        background-color: red;
        h2{
            font-size: 7vw;
            padding: 3% 5% 2% 5%;
            translate: 1px -65px;
        }
    }
}
footer{
    background-color: gray;
    width: 100%;
    height: 100px;
}